$primary: #BA68C8;

$fa-font-path: "font-awesome/fonts";
@import "font-awesome/scss/font-awesome.scss";
@import "./node_modules/bulma/bulma.sass";

html, body {
  height: 100%;
  font-family: 'Abel', sans-serif;
  //font-family: 'Abel', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
  display: flex;
}

h1,h2,h3,h4,h5 {
  font-family: 'Poppins', sans-serif;
}

button, input {
  font-family: 'Abel', sans-serif;
}

.nav-item a.is-active, a.nav-item.is-active {
  color: $primary;
}

// Hacking react datepicker style
.react-datepicker__input-container {
  display: block !important;
}
